<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= item.note %>
  </p>

  <p>
    <strong>User:</strong>
    <%= item.user&.name %>
  </p>

</div>
